body {
  margin: 0px;
}
* {
  box-sizing: border-box;
}
:root {
  --color: rgb(241, 168, 31);
  --font: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
/* page 1 background */
main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
}
.main-div-page1 {
  width: 100%;
  height: 100vh;
  background-image: url(pictures/pic4.jpg);
  filter: brightness(0.5) blur(3px);
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  animation: pic ease-out backwards;
  animation-duration: 15s;
  animation-delay: 2s;
}
@keyframes pic {
  0% {
    background-image: url(pictures/pic4.jpg);
  }
  35% {
    background-image: url(pictures/pic3.jpg);
  }
  65% {
    background-image: url(pictures/pic2.jpg);
  }
  100% {
    background-image: url(pictures/pic4.jpg);
  }
}
/* page1 header */
header {
  display: flex;
  text-align: center;
  background-color: white;
  width: 100%;
  height: 15%;
  font-size: 1.5vw;
  position: fixed;
}
header h1 {
  color: var(--color);
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-top: 1.2%;
}
#logo {
  margin-left: 7%;
  margin-top: 1.5%;
  font-size: 3vw;
  color: var(--color);
}
header ul {
  display: flex;
  margin-left: 12%;
  list-style-type: none;
  margin-top: 3%;
}
header li {
  margin-left: 20px;
}
header a {
  text-decoration: none;
  color: black;
}
ul a:hover {
  color: var(--color);
}
#dropdown i {
  margin-top: 1.5%;
  font-size: small;
  margin-left: -5px;
  transition: transform 0.3s ease;
}
#dropdown {
  position: relative;
}
#d-links {
  top: 100%;
  left: 0;
  font-size: 15px;
  background-color: white !important;
  position: absolute;
  text-align: left;
  padding-left: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 7px;
  border-radius: 10px;
  width: 160px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 9999;
}
#d-links a {
  display: block;
  margin-top: 5px;
  color: black;
  font-weight: normal;
}
#d-links a:hover {
  background-color: rgba(128, 128, 128, 0.591);
}
#dropdown:hover #d-links {
  visibility: visible;
  opacity: 1;
}
#dropdown:hover i {
  transform: rotate(180deg);
}

#join {
  margin-left: 20%;
  margin-top: 1.5%;
  text-decoration: none;
  background-color: var(--color);
  height: 7vh;
  padding: 10px;
  border-radius: 30px;
  color: whitesmoke;
  box-shadow: 0 4px 0 rgba(234, 177, 20, 0.425);
}
#join:active {
  box-shadow: 0 0px 0 rgba(234, 177, 20, 0.639);
  transform: translateY(4px);
}
#sky {
  width: 100%;
  height: 20vh;
  background-color: transparent;
  display: inline-block;
  position: fixed;
  pointer-events: none;
}
#sky img {
  width: 7%;
  height: 2vh;
  margin-top: 89px;
  margin-left: 5px;
}
/* page 1 details */
#page1-titel {
  width: 50%;
  height: 20vh;
  background-color: transparent;
  text-align: center;
  position: absolute;
  font-family: var(--font);
  font-size: 3vw;
  margin-left: 25%;
  margin-top: 15%;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.646),
    -2px -2px 2px rgba(0, 0, 0, 0.628);
  animation: text 2s ease backwards;
  pointer-events: none;
}
@keyframes text {
  from {
    transform: translateY(-40px);
  }
  to {
    transform: translateY(0px);
  }
}
#page1-info {
  width: 55%;
  height: 15vh;
  font-weight: normal;
  background-color: transparent;
  text-align: center;
  position: absolute;
  align-self: center;
  margin-top: 20%;
  margin-left: 23%;
  color: white;
}
#btn-div {
  background-color: transparent;
  width: 30%;
  height: 10vh;
  position: absolute;
  justify-content: center;
  align-content: center;
  display: flex;
  align-self: center;
  margin-top: 34%;
  margin-left: 36%;
}
#btn1,
#btn2 {
  outline: none;
  border: none;
  border-radius: 9999px;
  background-color: rgba(241, 168, 31, 0.58);
  color: white;
  width: 150px;
  height: 50px;
  margin-left: 5px;
  transition: background-color 1s ease;
}
#btn1:hover,
#btn2:hover {
  background-color: var(--color);
}
#btn1 {
  animation: btn 2s ease backwards;
}
@keyframes btn {
  from {
    transform: translateX(-30px);
  }
  to {
    transform: translateX(0px);
  }
}
#btn2 {
  animation: btn2 2s ease backwards;
}
@keyframes btn2 {
  from {
    transform: translateX(30px);
  }
  to {
    transform: translateX(0px);
  }
}
/* page 1 responsive */
@media screen and (max-width: 576px) {
  main {
    width: 100%;
    height: 100vh;
  }
  .main-div-page1 {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-image: url(pictures/pic4.jpg);
  }
  header {
    display: none;
  }
  #sky {
    display: none;
  }
  #page1-titel {
    width: 80%;
    height: 11vh;
    margin-left: 13%;
    margin-top: 30vh;
    font-size: 5vw;
  }
  #page1-info {
    width: 85%;
    height: 5vh;
    margin-left: 10%;
    margin-top: -5vh;
    font-size: 2.5vw;
  }
  #btn-div {
    width: 50%;
    height: 10vh;
    margin-top: 30%;
    margin-left: 30%;
  }
  #btn1,
  #btn2 {
    width: 60%;
    height: 4vh;
    gap: 2%;
    font-size: 2.5vw;
  }
}
