body {
  margin: 0px;
}
* {
  box-sizing: border-box;
}
:root {
  --color: rgb(241, 168, 31);
  --font: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
/* page 1 background */
main {
  width: 100%;
  height: 594px;
  overflow: hidden;
  display: flex;
}
.main-div-page1 {
  width: 100%;
  height: 594px;
  background-image: url(pictures/pic4.jpg);
  filter: brightness(0.5) blur(3px);
  background-size: 100% 594px;
  background-repeat: no-repeat;
  position: absolute;
  animation: pic ease-out backwards;
  animation-duration: 15s;
  animation-delay: 2s;
}

@keyframes pic {
  0% {
    background-image: url(pictures/pic4.jpg);
  }
  35% {
    background-image: url(pictures/pic3.jpg);
  }
  65% {
    background-image: url(pictures/pic2.jpg);
  }
  100% {
    background-image: url(pictures/pic4.jpg);
  }
}
/* page1 header */
header {
  display: flex;
  text-align: center;
  background-color: white;
  width: 100%;
  height: 15%;
  font-size: 1.5vw;
  position: fixed;
}
header h1 {
  color: var(--color);
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-top: 1.2%;
}
#logo {
  margin-left: 7%;
  margin-top: 1.5%;
  font-size: 3vw;
  color: var(--color);
}
header ul {
  display: flex;
  margin-left: 12%;
  list-style-type: none;
  margin-top: 3%;
}
ul li {
  margin-left: 20px;
  position: relative;
}
ul a {
  text-decoration: none;
  color: black;
}
ul a:hover {
  color: var(--color);
}
#dropdown i {
  margin-top: 1.5%;
  font-size: small;
  margin-left: -5px;
}
#dropdown {
  position: relative;
}

#d-links {
  width: 140px;
  height: 150px;
  font-size: small;
  background-color: white !important;
  position: absolute;
  margin-top: 20px;
  text-align: left;
  padding: 8px;
  border-radius: 15px;
  visibility: hidden;
}
#d-links a {
  display: block;
  margin-top: 8px;
  z-index: 2;
}
#d-links a:hover {
  background-color: rgba(128, 128, 128, 0.591);
  color: black;
}
#dropdown:hover #d-links {
  visibility: visible;
}

#join {
  margin-left: 20%;
  margin-top: 1.5%;
  text-decoration: none;
  background-color: var(--color);
  height: 40px;
  padding: 10px;
  border-radius: 30px;
  color: whitesmoke;
  box-shadow: 0 4px 0 rgba(234, 177, 20, 0.425);
}
#join:active {
  box-shadow: 0 0px 0 rgba(234, 177, 20, 0.639);
  transform: translateY(4px);
}
#sky {
  width: 100%;
  height: 110px;
  background-color: transparent;
  display: inline-block;
  position: fixed;
  pointer-events: none;
}
#sky2 {
  width: 70px;
  height: 15px;
  margin-top: 89px;
  margin-left: 5px;
}
/* page 1 details */
#page1-titel {
  width: 500px;
  height: 200px;
  background-color: transparent;
  text-align: center;
  position: absolute;
  font-family: var(--font);
  font-size: 3vw;
  margin-left: 30%;
  margin-top: 15%;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.646),
    -2px -2px 2px rgba(0, 0, 0, 0.628);
  animation: text 2s ease backwards;
  pointer-events: none;
}
@keyframes text {
  from {
    transform: translateY(-40px);
  }
  to {
    transform: translateY(0px);
  }
}
#page1-info {
  width: 580px;
  height: 200px;
  background-color: transparent;
  text-align: center;
  position: absolute;
  align-self: center;
  margin-top: 29%;
  margin-left: 27%;
  color: white;
}
#btn-div {
  background-color: transparent;
  width: 300px;
  height: 100px;
  position: absolute;
  justify-content: center;
  align-content: center;
  display: flex;
  align-self: center;
  margin-top: 34%;
  margin-left: 37%;
}
#btn1,
#btn2 {
  outline: none;
  border: none;
  border-radius: 9999px;
  background-color: rgba(241, 168, 31, 0.58);
  color: white;
  width: 150px;
  height: 50px;
  margin-left: 5px;
  transition: background-color 1s ease;
}
#btn1:hover,
#btn2:hover {
  background-color: var(--color);
}
#btn1 {
  animation: btn 2s ease backwards;
}
@keyframes btn {
  from {
    transform: translateX(-30px);
  }
  to {
    transform: translateX(0px);
  }
}
#btn2 {
  animation: btn2 2s ease backwards;
}
@keyframes btn2 {
  from {
    transform: translateX(30px);
  }
  to {
    transform: translateX(0px);
  }
}
@media screen and (max-width: 576px) {
  main {
    width: 100%;
    height: 1000px;
  }
  .main-div-page1 {
    width: 100%;
    height: 1000px;
    background-size: 100% 1000px;
    background-image: url(pictures/pic4.jpg);
    position: relative;
  }
  header {
    display: none;
  }
  #sky {
    display: none;
  }
  #page1-titel {
    width: 400px;
    height: 80px;
    margin-left: 15%;
    margin-top: 50%;
    font-size: 5vw;
  }
  #page1-info {
    width: 450px;
    height: 80px;
    margin-left: 10%;
    margin-top: -5%;
    font-size: 3vw;
  }
  #btn-div {
    width: 230px;
    height: 50px;
    margin-top: 30%;
    margin-left: 30%;
  }
  #btn1,
  #btn2 {
    width: 200px;
    height: 60px;
    margin-left: 5px;
    transition: background-color 1s ease;
    font-size: 2.5vw;
  }
}
