body {
  margin: 0px;
}
* {
  box-sizing: border-box;
}
:root {
  --color: rgb(241, 168, 31);
  --bear1: rgb(254, 225, 214);
  --bear2: rgb(223, 250, 223);
  --bear3: rgb(252, 248, 219);
  --bear4: rgb(225, 238, 252);
  --font: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
/* page 1 background */
main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
}
.main-div-page1 {
  width: 100%;
  height: 100vh;
  background-image: url(pictures/pic4.jpg);
  filter: brightness(0.5) blur(3px);
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  animation: pic ease-out backwards;
  animation-duration: 15s;
  animation-delay: 2s;
}
@keyframes pic {
  0% {
    background-image: url(pictures/pic4.jpg);
  }
  35% {
    background-image: url(pictures/pic3.jpg);
  }
  65% {
    background-image: url(pictures/pic2.jpg);
  }
  100% {
    background-image: url(pictures/pic4.jpg);
  }
}
/* page1 header */
header {
  display: flex;
  text-align: center;
  background-color: white;
  width: 100%;
  height: 15%;
  font-size: 1.5vw;
  position: fixed;
}
header h1 {
  color: var(--color);
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-top: 1.2%;
}
#logo {
  margin-left: 7%;
  margin-top: 1.5%;
  font-size: 3vw;
  color: var(--color);
}
header ul {
  display: flex;
  margin-left: 12%;
  list-style-type: none;
  margin-top: 3%;
}
header li {
  margin-left: 20px;
}
header a {
  text-decoration: none;
  color: black;
}
ul a:hover {
  color: var(--color);
}
#dropdown i {
  margin-top: 1.5%;
  font-size: small;
  margin-left: -5px;
  transition: transform 0.3s ease;
}
#dropdown {
  position: relative;
}
#d-links {
  top: 100%;
  left: 0;
  font-size: 15px;
  background-color: white !important;
  position: absolute;
  text-align: left;
  padding-left: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 7px;
  border-radius: 10px;
  width: 160px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 9999;
}
#d-links a {
  display: block;
  margin-top: 5px;
  color: black;
  font-weight: normal;
}
#d-links a:hover {
  background-color: rgba(128, 128, 128, 0.591);
}
#dropdown:hover #d-links {
  visibility: visible;
  opacity: 1;
}
#dropdown:hover i {
  transform: rotate(180deg);
}
#join {
  margin-left: 20%;
  margin-top: 1.5%;
  text-decoration: none;
  background-color: var(--color);
  height: 7vh;
  padding: 10px;
  border-radius: 30px;
  color: whitesmoke;
  box-shadow: 0 4px 0 rgba(234, 177, 20, 0.425);
}
#join:active {
  box-shadow: 0 0px 0 rgba(234, 177, 20, 0.639);
  transform: translateY(4px);
}
#sky {
  width: 100%;
  height: 20vh;
  background-color: transparent;
  display: inline-block;
  position: fixed;
  pointer-events: none;
}
#sky img {
  width: 7%;
  height: 2vh;
  margin-top: 15vh;
  margin-left: 0.3%;
}
/* page 1 details */
#page1-titel {
  width: 50%;
  height: 20vh;
  background-color: transparent;
  text-align: center;
  position: absolute;
  font-family: var(--font);
  font-size: 3vw;
  margin-left: 25%;
  margin-top: 15%;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.646),
    -2px -2px 2px rgba(0, 0, 0, 0.628);
  animation: text 2s ease backwards;
  pointer-events: none;
}
@keyframes text {
  from {
    transform: translateY(-40px);
  }
  to {
    transform: translateY(0px);
  }
}
#page1-info {
  width: 55%;
  height: 15vh;
  font-weight: normal;
  background-color: transparent;
  text-align: center;
  position: absolute;
  align-self: center;
  margin-top: 20%;
  margin-left: 23%;
  color: white;
}
#btn-div {
  background-color: transparent;
  width: 30%;
  height: 10vh;
  position: absolute;
  justify-content: center;
  align-content: center;
  display: flex;
  align-self: center;
  margin-top: 34%;
  margin-left: 36%;
}
#btn1,
#btn2 {
  outline: none;
  border: none;
  border-radius: 9999px;
  background-color: rgba(241, 168, 31, 0.58);
  color: white;
  width: 150px;
  height: 50px;
  margin-left: 5px;
  transition: background-color 1s ease;
}
#btn1:hover,
#btn2:hover {
  background-color: var(--color);
}
#btn1 {
  animation: btn 2s ease backwards;
}
@keyframes btn {
  from {
    transform: translateX(-30px);
  }
  to {
    transform: translateX(0px);
  }
}
#btn2 {
  animation: btn2 2s ease backwards;
}
@keyframes btn2 {
  from {
    transform: translateX(30px);
  }
  to {
    transform: translateX(0px);
  }
}
/* page 1 responsive */
@media screen and (max-width: 576px) {
  main {
    width: 100%;
    height: 100vh;
  }
  .main-div-page1 {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-image: url(pictures/pic4.jpg);
  }
  header {
    display: none;
  }
  #sky {
    display: none;
  }
  #page1-titel {
    width: 80%;
    height: 11vh;
    margin-left: 13%;
    margin-top: 30vh;
    font-size: 5vw;
  }
  #page1-info {
    width: 85%;
    height: 5vh;
    margin-left: 10%;
    margin-top: -5vh;
    font-size: 2.5vw;
  }
  #btn-div {
    width: 50%;
    height: 10vh;
    margin-top: 30%;
    margin-left: 30%;
  }
  #btn1,
  #btn2 {
    width: 60%;
    height: 4vh;
    gap: 2%;
    font-size: 2.5vw;
  }
}
/* page 2 */
#main-div-page2 {
  width: 100%;
  height: 100vh;
  align-content: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
#main-div-page2 p {
  width: 80%;
  padding-left: 20%;
  font-weight: normal;
  margin-top: -2%;
}
#main-div-page2 h2 {
  font-family: var(--font);
  font-size: 4vw;
  font-weight: bolder;
  margin-top: -1%;
}
#bears-div {
  width: 100%;
  display: flex;
}
#school-bus,
#playground,
#health,
#learning {
  width: 25%;
  height: 61vh;
  background-color: transparent;
  justify-items: center;
  overflow: visible;
  align-items: flex-start;
  justify-content: center;
  margin-top: 3%;
}
#bear-head1,
#playground-head,
#health-head,
#learning-head {
  width: 35%;
  height: 20vh;
  border-radius: 100%;
  margin-top: 5vh;
  position: relative;
  overflow: visible;
  margin-top: 0%;
  transition: background-color 0.5s ease;
}
#bear-head1 {
  background-color: var(--bear1);
}
#playground-head {
  background-color: var(--bear2);
}
#health-head {
  background-color: var(--bear3);
}
#learning-head {
  background-color: var(--bear4);
}
#bear-head1 i,
#playground-head i,
#health-head i,
#learning-head i {
  margin-top: 30%;
  font-size: 3vw;
  transition: color 0.8s ease;
}
#bear-head1 i {
  color: orangered;
}

#playground-head i {
  color: rgb(0, 96, 0);
}
#health-head i {
  color: rgb(255, 183, 0);
}
#learning-head i {
  color: rgb(0, 132, 255);
}
#bear-head1::before,
#bear-head1::after,
#playground-head::before,
#playground-head::after,
#health-head::before,
#health-head::after,
#learning-head::before,
#learning-head::after {
  content: "";
  width: 15%;
  height: 8vh;
  position: absolute;
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  transition: background-color 0.5s ease;
}
#bear-head1::before,
#bear-head1::after {
  background-color: var(--bear1);
}
#playground-head::before,
#playground-head::after {
  background-color: var(--bear2);
}
#health-head::before,
#health-head::after {
  background-color: var(--bear3);
}
#learning-head::before,
#learning-head::after {
  background-color: var(--bear4);
}
#bear-head1::before,
#playground-head::before,
#health-head::before,
#learning-head::before {
  left: 2%;
  transform: rotate(-10deg);
}
#bear-head1::after,
#playground-head::after,
#health-head::after,
#learning-head::after {
  right: 2%;
  transform: rotate(10deg);
}
#bear-body1,
#playground-body,
#health-body,
#learning-body {
  width: 90%;
  height: 46vh;
  border-radius: 100%;
  margin-top: -12%;
  align-items: center;
  text-align: center;
  transition: background-color 0.5s ease;
}
#bear-body1 {
  background-color: var(--bear1);
}
#playground-body {
  background-color: var(--bear2);
}
#health-body {
  background-color: var(--bear3);
}
#learning-body {
  background-color: var(--bear4);
}
#bear-body1 h3,
#playground-body h3,
#health-body h3,
#learning-body h3 {
  padding-top: 25%;
  font-family: var(--font);
  font-size: 2.5vw;
  transition: color 1s ease;
}
#bear-body1 h3 {
  color: orangered;
}
#playground-body h3 {
  color: green;
}
#health-body h3 {
  color: rgb(255, 183, 0);
}
#learning-body h3 {
  color: rgb(0, 132, 255);
}
#bear-body1 p,
#playground-body p,
#health-body p,
#learning-body p {
  width: 100%;
  margin-left: -10%;
  transition: color 0.8s ease;
}
#school-bus:hover #bear-head1,
#school-bus:hover #bear-body1,
#school-bus:hover #bear-head1::before,
#school-bus:hover #bear-head1::after {
  background-color: orangered;
}
/* bear1 */
#school-bus:hover #bear-body1 > h3,
#school-bus:hover #bear-body1 > p,
#school-bus:hover #bear-head1 i,
/*  bear2*/
#playground:hover #playground-body > h3,
#playground:hover #playground-body > p,
#playground:hover #playground-head i,
/* bear3 */
#health:hover #health-body > h3,
#health:hover #health-body > p,
#health:hover #health-head i ,
/* brae4 */
#learning:hover #learning-body > h3,
#learning:hover #learning-body > p,
#learning:hover #learning-head i {
  color: white;
}
#playground:hover #playground-head,
#playground:hover #playground-body,
#playground:hover #playground-head::before,
#playground:hover #playground-head::after {
  background-color: green;
}
#health:hover #health-head,
#health:hover #health-body,
#health:hover #health-head::before,
#health:hover #health-head::after {
  background-color: rgb(255, 183, 0);
}
#learning:hover #learning-head,
#learning:hover #learning-body,
#learning:hover #learning-head::before,
#learning:hover #learning-head::after {
  background-color: rgb(0, 132, 255);
}
/* page2 animation */
#school-bus {
  animation: anima 1s ease backwards;
}

@keyframes anima {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0px);
  }
}
#playground {
  animation: anima2 1.2s ease backwards;
}
@keyframes anima2 {
  from {
    transform: translateY(120px);
  }
  to {
    transform: translateY(0px);
  }
}
#health {
  animation: anima3 1.4s ease backwards;
}
@keyframes anima3 {
  from {
    transform: translateY(140px);
  }
  to {
    transform: translateY(0px);
  }
}
#learning {
  animation: anima4 1.6s ease backwards;
}
@keyframes anima4 {
  from {
    transform: translateY(160px);
  }
  to {
    transform: translateY(0px);
  }
}
/* page 2 responsive */
@media screen and (max-width: 576px) {
  #main-div-page2 {
    width: 100%;
    height: auto;
    padding: 5%;
  }
  #main-div-page2 p {
    width: 100%;
    padding-left: 0%;
    margin-top: 0%;
    font-size: 3vw;
  }
  #main-div-page2 h2 {
    font-size: 6vw;
    margin-top: 0%;
  }
  #bears-div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  #school-bus,
  #playground,
  #health,
  #learning {
    width: 100%;
    height: 53vh;
    margin-top: 3%;
  }
  #bear-head1,
  #playground-head,
  #health-head,
  #learning-head {
    width: 28%;
    height: 15vh;
    margin-top: 2vh;
  }
  #bear-head1 i,
  #playground-head i,
  #health-head i,
  #learning-head i {
    margin-top: 40%;
    font-size: 8vw;
  }
  #bear-body1,
  #playground-body,
  #health-body,
  #learning-body {
    width: 70%;
    height: 36vh;
    margin-top: -4%;
    padding: 3%;
  }
  #bear-body1 h3,
  #playground-body h3,
  #health-body h3,
  #learning-body h3 {
    padding-top: 27%;
    font-size: 5vw;
  }
  #bear-body1 p,
  #playground-body p,
  #health-body p,
  #learning-body p {
    width: 100%;
    margin-left: 0%;
  }
}
/* page3 */
