body {
  margin: 0px;
}
* {
  box-sizing: border-box;
}
:root {
  --color: rgb(241, 168, 31);
  --bear1: rgb(254, 225, 214);
  --bear2: rgb(223, 250, 223);
  --bear3: rgb(252, 248, 219);
  --bear4: rgb(225, 238, 252);
  --font: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
/* page 1 background */
main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
}
.main-div-page1 {
  width: 100%;
  height: 100vh;
  background-image: url(pictures/pic4.jpg);
  filter: brightness(0.5) blur(3px);
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  animation: pic ease-out backwards;
  animation-duration: 15s;
  animation-delay: 2s;
}
@keyframes pic {
  0% {
    background-image: url(pictures/pic4.jpg);
  }
  35% {
    background-image: url(pictures/pic3.jpg);
  }
  65% {
    background-image: url(pictures/pic2.jpg);
  }
  100% {
    background-image: url(pictures/pic4.jpg);
  }
}
/* page1 header */
header {
  display: flex;
  text-align: center;
  background-color: white;
  width: 100%;
  height: 15%;
  font-size: 1.5vw;
  position: fixed;
  z-index: 2;
}
header h1 {
  color: var(--color);
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-top: 1.2%;
}
#logo {
  margin-left: 7%;
  margin-top: 1.5%;
  font-size: 3vw;
  color: var(--color);
}
header ul {
  display: flex;
  margin-left: 12%;
  list-style-type: none;
  margin-top: 3%;
}
header li {
  margin-left: 20px;
}
header a {
  text-decoration: none;
  color: black;
}
ul a:hover {
  color: var(--color);
}
#dropdown i {
  margin-top: 1.5%;
  font-size: small;
  margin-left: -5px;
  transition: transform 0.3s ease;
}
#dropdown {
  position: relative;
}
#d-links {
  top: 100%;
  left: 0;
  font-size: 15px;
  background-color: white !important;
  position: absolute;
  text-align: left;
  padding-left: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 7px;
  border-radius: 10px;
  width: 160px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 9999;
}
#d-links a {
  display: block;
  margin-top: 5px;
  color: black;
  font-weight: normal;
}
#d-links a:hover {
  background-color: rgba(128, 128, 128, 0.591);
}
#dropdown:hover #d-links {
  visibility: visible;
  opacity: 1;
}
#dropdown:hover i {
  transform: rotate(180deg);
}
#join {
  margin-left: 20%;
  margin-top: 1.5%;
  text-decoration: none;
  background-color: var(--color);
  height: 7vh;
  padding: 10px;
  border-radius: 30px;
  color: whitesmoke;
  box-shadow: 0 4px 0 rgba(234, 177, 20, 0.425);
}
#join:active {
  box-shadow: 0 0px 0 rgba(234, 177, 20, 0.639);
  transform: translateY(4px);
}
#sky {
  width: 100%;
  height: 20vh;
  background-color: transparent;
  display: inline-block;
  position: fixed;
  pointer-events: none;
  z-index: 2;
}
#sky img {
  width: 7%;
  height: 2vh;
  margin-top: 15vh;
  margin-left: 0.3%;
}
/* page 1 details */
#page1-titel {
  width: 50%;
  height: 20vh;
  background-color: transparent;
  text-align: center;
  position: absolute;
  font-family: var(--font);
  font-size: 3vw;
  margin-left: 25%;
  margin-top: 15%;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.646),
    -2px -2px 2px rgba(0, 0, 0, 0.628);
  animation: text 2s ease backwards;
  pointer-events: none;
}
@keyframes text {
  from {
    transform: translateY(-40px);
  }
  to {
    transform: translateY(0px);
  }
}
#page1-info {
  width: 55%;
  height: 15vh;
  font-weight: normal;
  background-color: transparent;
  text-align: center;
  position: absolute;
  align-self: center;
  margin-top: 20%;
  margin-left: 23%;
  color: white;
}
#btn-div {
  background-color: transparent;
  width: 30%;
  height: 10vh;
  position: absolute;
  justify-content: center;
  align-content: center;
  display: flex;
  align-self: center;
  margin-top: 34%;
  margin-left: 36%;
}
#btn1,
#btn2 {
  outline: none;
  border: none;
  border-radius: 9999px;
  background-color: rgba(241, 168, 31, 0.58);
  color: white;
  width: 150px;
  height: 50px;
  margin-left: 5px;
  transition: background-color 1s ease;
}
#btn1:hover,
#btn2:hover {
  background-color: var(--color);
}
#btn1 {
  animation: btn 2s ease backwards;
}
@keyframes btn {
  from {
    transform: translateX(-30px);
  }
  to {
    transform: translateX(0px);
  }
}
#btn2 {
  animation: btn2 2s ease backwards;
}
@keyframes btn2 {
  from {
    transform: translateX(30px);
  }
  to {
    transform: translateX(0px);
  }
}
/* page 1 responsive */
@media screen and (max-width: 576px) {
  main {
    width: 100%;
    height: 100vh;
  }
  .main-div-page1 {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-image: url(pictures/pic4.jpg);
  }
  header {
    display: none;
  }
  #sky {
    display: none;
  }
  #page1-titel {
    width: 80%;
    height: 11vh;
    margin-left: 13%;
    margin-top: 30vh;
    font-size: 5vw;
  }
  #page1-info {
    width: 85%;
    height: 5vh;
    margin-left: 10%;
    margin-top: -5vh;
    font-size: 2.5vw;
  }
  #btn-div {
    width: 50%;
    height: 10vh;
    margin-top: 30%;
    margin-left: 30%;
  }
  #btn1,
  #btn2 {
    width: 60%;
    height: 4vh;
    gap: 2%;
    font-size: 2.5vw;
  }
}
/* page 2 */
#main-div-page2 {
  width: 100%;
  height: 100vh;
  align-content: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
#main-div-page2 p {
  width: 80%;
  padding-left: 20%;
  font-weight: normal;
  margin-top: -2%;
}
#main-div-page2 h2 {
  font-family: var(--font);
  font-size: 4vw;
  font-weight: bolder;
  margin-top: -1%;
}
#bears-div {
  width: 100%;
  display: flex;
}
#school-bus,
#playground,
#health,
#learning {
  width: 25%;
  height: 61vh;
  background-color: transparent;
  justify-items: center;
  overflow: visible;
  align-items: flex-start;
  justify-content: center;
  margin-top: 3%;
}
#bear-head1,
#playground-head,
#health-head,
#learning-head {
  width: 35%;
  height: 20vh;
  border-radius: 100%;
  margin-top: 5vh;
  position: relative;
  overflow: visible;
  margin-top: 0%;
  transition: background-color 0.5s ease;
}
#bear-head1 {
  background-color: var(--bear1);
}
#playground-head {
  background-color: var(--bear2);
}
#health-head {
  background-color: var(--bear3);
}
#learning-head {
  background-color: var(--bear4);
}
#bear-head1 i,
#playground-head i,
#health-head i,
#learning-head i {
  margin-top: 30%;
  font-size: 3vw;
  transition: color 0.8s ease;
}
#bear-head1 i {
  color: orangered;
}

#playground-head i {
  color: rgb(0, 96, 0);
}
#health-head i {
  color: rgb(255, 183, 0);
}
#learning-head i {
  color: rgb(0, 132, 255);
}
#bear-head1::before,
#bear-head1::after,
#playground-head::before,
#playground-head::after,
#health-head::before,
#health-head::after,
#learning-head::before,
#learning-head::after {
  content: "";
  width: 15%;
  height: 8vh;
  position: absolute;
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  transition: background-color 0.5s ease;
}
#bear-head1::before,
#bear-head1::after {
  background-color: var(--bear1);
}
#playground-head::before,
#playground-head::after {
  background-color: var(--bear2);
}
#health-head::before,
#health-head::after {
  background-color: var(--bear3);
}
#learning-head::before,
#learning-head::after {
  background-color: var(--bear4);
}
#bear-head1::before,
#playground-head::before,
#health-head::before,
#learning-head::before {
  left: 2%;
  transform: rotate(-10deg);
}
#bear-head1::after,
#playground-head::after,
#health-head::after,
#learning-head::after {
  right: 2%;
  transform: rotate(10deg);
}
#bear-body1,
#playground-body,
#health-body,
#learning-body {
  width: 90%;
  height: 46vh;
  border-radius: 100%;
  margin-top: -12%;
  align-items: center;
  text-align: center;
  transition: background-color 0.5s ease;
}
#bear-body1 {
  background-color: var(--bear1);
}
#playground-body {
  background-color: var(--bear2);
}
#health-body {
  background-color: var(--bear3);
}
#learning-body {
  background-color: var(--bear4);
}
#bear-body1 h3,
#playground-body h3,
#health-body h3,
#learning-body h3 {
  padding-top: 25%;
  font-family: var(--font);
  font-size: 2.5vw;
  transition: color 1s ease;
}
#bear-body1 h3 {
  color: orangered;
}
#playground-body h3 {
  color: green;
}
#health-body h3 {
  color: rgb(255, 183, 0);
}
#learning-body h3 {
  color: rgb(0, 132, 255);
}
#bear-body1 p,
#playground-body p,
#health-body p,
#learning-body p {
  width: 100%;
  margin-left: -10%;
  transition: color 0.8s ease;
}
#school-bus:hover #bear-head1,
#school-bus:hover #bear-body1,
#school-bus:hover #bear-head1::before,
#school-bus:hover #bear-head1::after {
  background-color: orangered;
}
/* bear1 */
#school-bus:hover #bear-body1 > h3,
#school-bus:hover #bear-body1 > p,
#school-bus:hover #bear-head1 i,
/*  bear2*/
#playground:hover #playground-body > h3,
#playground:hover #playground-body > p,
#playground:hover #playground-head i,
/* bear3 */
#health:hover #health-body > h3,
#health:hover #health-body > p,
#health:hover #health-head i ,
/* brae4 */
#learning:hover #learning-body > h3,
#learning:hover #learning-body > p,
#learning:hover #learning-head i {
  color: white;
}
#playground:hover #playground-head,
#playground:hover #playground-body,
#playground:hover #playground-head::before,
#playground:hover #playground-head::after {
  background-color: green;
}
#health:hover #health-head,
#health:hover #health-body,
#health:hover #health-head::before,
#health:hover #health-head::after {
  background-color: rgb(255, 183, 0);
}
#learning:hover #learning-head,
#learning:hover #learning-body,
#learning:hover #learning-head::before,
#learning:hover #learning-head::after {
  background-color: rgb(0, 132, 255);
}
/* page2 animation */
#school-bus {
  animation: anima 1s ease backwards;
}

@keyframes anima {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
#playground {
  animation: anima2 1.4s ease backwards;
}
@keyframes anima2 {
  from {
    transform: translateY(120px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
#health {
  animation: anima3 1.8s ease backwards;
}
@keyframes anima3 {
  from {
    transform: translateY(140px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
#learning {
  animation: anima4 2.1s ease backwards;
}
@keyframes anima4 {
  from {
    transform: translateY(160px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
/* page 2 responsive */
@media screen and (max-width: 576px) {
  #main-div-page2 {
    width: 100%;
    height: auto;
    padding: 5%;
  }
  #main-div-page2 p {
    width: 100%;
    padding-left: 0%;
    margin-top: 0%;
    font-size: 3vw;
  }
  #main-div-page2 h2 {
    font-size: 6vw;
    margin-top: 0%;
  }
  #bears-div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  #school-bus,
  #playground,
  #health,
  #learning {
    width: 100%;
    height: 53vh;
    margin-top: 3%;
  }
  #bear-head1,
  #playground-head,
  #health-head,
  #learning-head {
    width: 28%;
    height: 15vh;
    margin-top: 2vh;
  }
  #bear-head1 i,
  #playground-head i,
  #health-head i,
  #learning-head i {
    margin-top: 40%;
    font-size: 8vw;
  }
  #bear-body1,
  #playground-body,
  #health-body,
  #learning-body {
    width: 70%;
    height: 36vh;
    margin-top: -4%;
    padding: 3%;
  }
  #bear-body1 h3,
  #playground-body h3,
  #health-body h3,
  #learning-body h3 {
    padding-top: 27%;
    font-size: 5vw;
  }
  #bear-body1 p,
  #playground-body p,
  #health-body p,
  #learning-body p {
    width: 100%;
    margin-left: 0%;
  }
}
/* page3 */
#main-div-page3 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#info-page3 {
  width: 40%;
  height: 80vh;
  color: black;
  margin-top: 0%;
  padding: 1.5%;
}
#info-page3 h2 {
  font-family: var(--font);
  font-size: 2.8vw;
}
#info-page3 p {
  font-weight: normal;
}
#info-page3 button {
  width: 34%;
  height: 8vh;
  background-color: var(--color);
  padding: 3%;
  outline: none;
  border: none;
  color: white;
  border-radius: 9999px;
  float: left;
}
#info-page3 div {
  width: 40%;
  height: 10vh;
  float: left;
  margin-left: 25%;
}
#info-page3 div > img {
  width: 33%;
  height: 10vh;
  border-radius: 100%;
  float: left;
}
#info-page3 div > p {
  float: left;
  color: var(--color);
  margin-left: 6%;
  font-size: 1.5vw;
  margin-top: 5%;
}
#p2-page3 {
  margin-top: -15% !important;
  color: black !important;
  font-size: 1.2vw !important;
  margin-left: 40% !important;
}
#img-div-page3 {
  width: 50%;
  height: 80vh;
  animation: fade 1.4s ease backwards;
}
#img1-page3 {
  width: 70%;
  height: 70vh;
  border: 15px solid white;
  margin-left: 15%;
  border-radius: 100%;
  float: left;
  transition: border 1s ease;
}
#img2-page3,
#img3-page3 {
  width: 30%;
  height: 33vh;
  border-radius: 100%;
  margin-top: 50%;
  border: 15px solid white;
  transition: border 1s ease;
}
#img2-page3 {
  margin-left: -27%;
  float: left;
}
#img3-page3 {
  margin-left: -73%;
  float: left;
}
#img1-page3:hover,
#img2-page3:hover,
#img3-page3:hover {
  border: 15px solid var(--color);
}
/* animation page3 */
@keyframes fade {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* page3 responsive */
@media screen and (max-width: 576px) {
  #main-div-page3 {
    width: 100%;
    height: 100vh;
    display: block;
    overflow-x: hidden;
  }
  #info-page3 {
    width: 100%;
    height: 60vh;
    padding: 5%;
  }
  #info-page3 h2 {
    font-size: 7vw;
  }
  #info-page3 p {
    font-size: 4vw;
  }
  #info-page3 button {
    width: 30%;
    height: 6vh;
    padding: 2%;
    font-size: 3vw;
  }
  #info-page3 div {
    width: 40%;
    height: 6vh;
    margin-left: 30%;
  }
  #info-page3 div > img {
    width: 30%;
    height: 6vh;
  }
  #info-page3 div > p {
    margin-left: 6%;
    font-size: 3.5vw;
    margin-top: 5%;
  }
  #p2-page3 {
    margin-top: -9% !important;
    font-size: 3.2vw !important;
    margin-left: 5% !important;
  }
  #img-div-page3 {
    width: 100%;
    height: 50vh;
  }
  #img1-page3 {
    width: 95%;
    height: 40vh;
    border: 8px solid white;
    margin-left: 2.5%;
  }
  #img2-page3,
  #img3-page3 {
    width: 40%;
    height: 15vh;
    border-radius: 100%;
    margin-top: 65%;
    border: 8px solid white;
    transition: border 1s ease;
  }
  #img2-page3 {
    margin-left: -45%;
  }
  #img3-page3 {
    margin-left: -90%;
  }
  #img1-page3:hover,
  #img2-page3:hover,
  #img3-page3:hover {
    border: 8px solid var(--color);
  }
}
/* page4 */
#main-div-page4 {
  width: 100%;
  height: 90vh;
  justify-items: center;
  align-content: center;
}
#details-div-page4 {
  width: 90%;
  height: 70vh;
  background-color: var(--bear3);
  border-radius: 1%;
  display: flex;
  justify-items: center;
  align-content: center;
  animation: page4 1.8s ease backwards;
}
#details-div-page4 img {
  width: 50%;
  height: 70vh;
  border-radius: 2%;
  filter: brightness(0.5);
}
#details-div-page4 div {
  width: 50%;
  height: 80vh;
  padding: 5%;
}
#details-div-page4 div > h2 {
  color: black;
  font-family: var(--font);
  font-size: 5vw;
}
#details-div-page4 div > p {
  font-weight: normal;
  margin-top: -7%;
}
#details-div-page4 div > button {
  width: 95%;
  height: 8vh;
  background-color: var(--color);
  color: white;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 1.5vw;
  font-weight: bold;
}
@keyframes page4 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* page 4 responsive */
@media screen and (max-width: 576px) {
  #main-div-page4 {
    width: 100%;
    height: auto;
  }
  #details-div-page4 {
    width: 90%;
    height: 95vh;
    display: block;
    padding: 5%;
    margin-top: 10%;
  }
  #details-div-page4 img {
    width: 100%;
    height: 50vh;
  }
  #details-div-page4 div {
    width: 100%;
    height: 50vh;
  }
  #details-div-page4 div > h2 {
    font-size: 8vw;
  }
  #details-div-page4 div > p {
    margin-top: -6%;
    font-size: 4vw;
  }
  #details-div-page4 div > button {
    width: 100%;
    height: 6vh;
    font-size: 3.5vw;
  }
}
/* page 5 */
#main-div-page5,
#main2-div-page5 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  flex-wrap: wrap;
}
#color-pens,
#color-managments,
#althletic-dance,
#learning-speaking,
#religion-history,
#general-know {
  width: 30%;
  height: 80vh;
  background-color: transparent;
  justify-items: center;
  align-content: center;
  transition: transform 0.7s ease-in;
}
#pens,
#managments,
#dance,
#learning-img,
#religion,
#general {
  width: 80%;
  height: 50vh;
  border-radius: 100%;
  border: 8px solid var(--bear3);
  margin-left: 10%;
}
#color-pens2,
#color-managments2,
#althletic-dance2,
#learning-speaking2,
#religion-history2,
#general-know2 {
  width: 100%;
  background-color: var(--bear3);
  justify-items: center;
  align-content: center;
  margin-top: -2%;
  margin-top: -20%;
  border-radius: 20px;
}
#color-pens2 h2,
#color-managments2 h2,
#althletic-dance2 h2,
#learning-speaking2 h2,
#religion-history2 h2,
#general-know2 h2 {
  font-family: var(--font);
  font-size: 3vw;
  font-weight: bolder;
  margin-top: 20%;
}
#page5-teacher,
#page5-teacher2,
#page5-teacher3,
#page5-teacher4,
#page5-teacher5,
#page5-teacher6 {
  width: 100%;
  height: 10vh;
  margin-top: -3%;
}
#page5-teacher img,
#page5-teacher2 img,
#page5-teacher3 img,
#page5-teacher4 img,
#page5-teacher5 img,
#page5-teacher6 img {
  width: 17%;
  height: 10vh;
  border-radius: 100%;
  float: left;
  margin-left: 0%;
  border: none !important;
}
#page5-teacher p,
#page5-teacher2 p,
#page5-teacher3 p,
#page5-teacher4 p,
#page5-teacher5 p,
#page5-teacher6 p {
  float: left;
  margin-left: 2%;
  margin-top: 3%;
  color: var(--color);
}
#p-page5,
#p-managments,
#p-dance,
#p-learning,
#p-religion,
#p-general {
  float: left;
  margin-left: -17% !important;
  margin-top: 7% !important;
  font-weight: normal;
}
#price-page5,
#price2-managments,
#price-dance,
#price-learning,
#price-religion,
#price-general {
  width: 15%;
  height: 6vh;
  background-color: var(--color);
  border-radius: 20px;
  color: white !important;
  text-align: center;
  padding-top: 2.5%;
  margin-left: 45% !important;
}
#age-color,
#age-managments,
#age-dance,
#age-learning,
#age-religion,
#age-general {
  width: 32%;
  border-top: orangered 2px solid;
  float: left;
  padding: 1%;
  margin-left: 2px;
}
#age-color h4,
#age-managments h4,
#age-dance h4,
#age-learning h4,
#age-religion h4,
#age-general h4 {
  margin-top: 0%;
  color: orangered;
}
#age-color p,
#age-managments p,
#age-dance p,
#age-learning p,
#age-religion p,
#age-general p {
  margin-top: -15% !important;
  font-weight: normal;
  color: gray;
}
#time-color,
#time-managments,
#time-dance,
#time-learning,
#time-religion,
#time-general {
  width: 32%;
  border-top: green 2px solid;
  float: left;
  padding: 1%;
  margin-left: 2px;
}
#time-color h4,
#time-managments h4,
#time-dance h4,
#time-learning h4,
#time-religion h4,
#time-general h4 {
  margin-top: 0%;
  color: green;
}
#time-color p,
#time-managments p,
#time-dance p,
#time-learning p,
#time-religion p,
#time-general p {
  margin-top: -15% !important;
  font-weight: normal;
  color: gray;
}
#capacity-color,
#capacity-managments,
#capacity-dance,
#capacity-learning,
#capacity-religion,
#capacity-general {
  width: 32%;
  border-top: goldenrod 2px solid;
  float: left;
  padding: 1%;
  margin-left: 2px;
}
#capacity-color h4,
#capacity-managments h4,
#capacity-dance h4,
#capacity-learning h4,
#capacity-religion h4,
#capacity-general h4 {
  margin-top: 0%;
  color: goldenrod;
}
#capacity-color p,
#capacity-managments p,
#capacity-dance p,
#capacity-learning p,
#capacity-religion p,
#capacity-general p {
  margin-top: -15% !important;
  font-weight: normal;
  color: gray;
}
/* animation page5 */
#color-pens {
  animation: pens 2s ease backwards;
}
@keyframes pens {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
#color-managments {
  animation: managments 2.5s ease backwards;
}
@keyframes managments {
  from {
    transform: translateY(250px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
#althletic-dance {
  animation: dance 3s ease backwards;
}
@keyframes dance {
  from {
    transform: translateY(300px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
#learning-speaking {
  animation: speaking 2s ease backwards;
}
@keyframes speaking {
  from {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
#religion-history {
  animation: history 2.5s ease backwards;
}
@keyframes history {
  from {
    transform: translateY(250px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
#general-know {
  animation: know 3s ease backwards;
}
@keyframes know {
  from {
    transform: translateY(300px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
#color-pens:hover,
#color-managments:hover,
#althletic-dance:hover,
#learning-speaking:hover,
#religion-history:hover,
#general-know:hover {
  transform: translateY(-20px);
}
/* page5 responsive */

@media screen and (max-width: 576px) {
  #main-div-page5,
  #main2-div-page5 {
    width: 100%;
    height: auto;
    display: block;
  }
  #color-pens,
  #color-managments,
  #althletic-dance,
  #learning-speaking,
  #religion-history,
  #general-know {
    width: 98%;
    height: 62vh;
    padding: 5%;
  }
  #pens,
  #managments,
  #dance,
  #learning-img,
  #religion,
  #general {
    width: 60%;
    height: 30vh;
    margin-left: 20%;
    margin-top: 0%;
  }
  #color-pens2,
  #color-managments2,
  #althletic-dance2,
  #learning-speaking2,
  #religion-history2,
  #general-know2 {
    width: 95%;
  }
  #color-pens2 h2,
  #color-managments2 h2,
  #althletic-dance2 h2,
  #learning-speaking2 h2,
  #religion-history2 h2,
  #general-know2 h2 {
    font-size: 7vw;
  }
  #page5-teacher,
  #page5-teacher2,
  #page5-teacher3,
  #page5-teacher4,
  #page5-teacher5,
  #page5-teacher6 {
    padding: 3%;
  }
  #page5-teacher img,
  #page5-teacher2 img,
  #page5-teacher3 img,
  #page5-teacher4 img,
  #page5-teacher5 img,
  #page5-teacher6 img {
    width: 15%;
    height: 7vh;
  }
  #price-page5,
  #price2-managments,
  #price-dance,
  #price-learning,
  #price-religion,
  #price-general {
    width: 20%;
    height: 3vh;
    padding-top: 1%;
    margin-left: 55% !important;
    margin-top: -8% !important;
  }
}
/* pahe6 */
#main-div-page6 {
  width: 100%;
  height: 90vh;
  background-color: transparent;
  align-content: center;
  justify-items: center;
}
#details-page6 {
  width: 90%;
  height: 70vh;
  background-color: var(--bear3);
  border-radius: 20px;
  display: flex;
}
#details-page6 div {
  width: 50%;
  height: 70vh;
  background-color: transparent;
  justify-items: center;
  align-content: center;
  padding: 3%;
}
#details-page6 div > h2 {
  font-family: var(--font);
  font-size: 4vw;
  margin-top: 0%;
}
#details-page6 div input {
  width: 48%;
  height: 8vh;
  margin-top: 2%;
  border-radius: 10px;
  outline: none;
  border: none;
}
#input-area {
  width: 97%;
  height: 12vh;
  margin-top: 2%;
  resize: none;
  outline: none;
  border: none;
}
#submit {
  width: 97% !important;
  height: 11vh;
  background-color: var(--color);
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;
}
#details-page6 img {
  width: 50%;
  height: 70vh;
  border-radius: 10px;
  filter: saturate(120%);
}
@media screen and (max-width: 576px) {
  #main-div-page6 {
    width: 100%;
    height: 100vh;
    padding: 2%;
  }
  #details-page6 {
    width: 90%;
    height: 100vh;
    display: block;
  }
  #details-page6 div {
    width: 100%;
    height: 50vh;
  }
  #details-page6 div > h2 {
    font-size: 7vw;
    margin-top: 0%;
  }
  #details-page6 div input {
    height: 6vh;
  }
  #details-page6 img {
    width: 99.5%;
    height: 50vh;
  }
}
